 body {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 20px;
      color:white;
      background-color: gray;

 }

h1 {
   color: black;
   font-style: oblique;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bolder;

}

 a {
    color: rgb(102, 0, 255);
    text-decoration: none;
    font-weight: bold;

 }

 footer {

    margin-top: 300px;
    color: rgba(10, 11, 10, 0.571);
    font-weight: bold;

 }

  h2 {
   color: rgb(166, 179, 186);
   font-style: inherit;
   font-weight: bolder;
 }

h3 {
   color: blanchedalmond;
   font-weight: bolder;
   font-style: italic;
}

#container{
   position: absolute;
   margin-right: 0cm; /* aligns to the right */
   background-color: blanchedalmond;
}

.rosaries {
   border-radius: 500px;
   border-color: aqua;
   size: 200px;
   
}