 body {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 20px;
      color:white;
      background-color: rgb(162, 144, 122);

 }

 header h1 {
    color: rgba(185, 32, 32, 0.249);
 }

 img{
    width: 550px;
    border-radius: 10px;
    margin: 100px 0;

 }

 a {
    color: rgb(102, 0, 255);
    text-decoration: none;
    font-weight: bold;

 }

 footer {

    margin-top: 30px;
    color: rgba(144, 207, 190, 0.571);
    font-weight: bold;

 }
